---
- name: "Define ipv4 interface for Docker"
  block:
    - name: "Define ipv4 interface for Docker (wireguard host)"
      when: wireguard_mode == 'host'
      ansible.builtin.set_fact:
        security_iptables_docker_interface: "{{ ansible_default_ipv4.interface }}"

    - name: "Define ipv4 interface for Docker (wireguard client)"
      when: wireguard_mode == 'client'
      ansible.builtin.set_fact:
        security_iptables_docker_interface: "ens33"

- name: "Template iptables rules"
  ansible.builtin.template:
    src: "iptables.conf"
    dest: "/etc/iptables.conf"
    owner: "root"
    group: "root"
    mode: "0744"

- name: "Copy iptables systemd service"
  ansible.builtin.copy:
    src: "files/iptables.service"
    dest: "/etc/systemd/system/iptables.service"
    owner: "root"
    group: "root"
    mode: "0644"

- name: "Enable and start iptables service"
  ansible.builtin.service:
    name: "iptables"
    state: "started"
    enabled: true
