---
jwt_secret: {{ authelia_jwt_secret }}

ntp:
  disable_failure: true

server:
  host: 0.0.0.0
  port: 9091

log:
  level: {{ authelia_log_level | default('debug') }}

totp:
  issuer: authelia.com

authentication_backend:
  file:
    path: /config/users_database.yml

session:
  name: authelia_session
  secret: {{ authelia_session_secret }}
  expiration: {{ authelia_session_expiration_seconds | default(3600) }}
  inactivity: {{ authelia_session_inactivity_seconds | default(300) }}
  domain: {{ remote_host_name }}  # Should match whatever your root protected domain is

  redis:
    host: redis
    port: 6379

regulation:
  max_retries: {{ authelia_max_retries | default(3) }}
  find_time: 120
  ban_time: {{ authelia_ban_seconds | default(300) }}

storage:
  encryption_key: {{ authelia_encryption_key }}
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
      filename: /config/notification.txt

access_control:
  default_policy: deny

  rules:
    - domain: {{ bunkerweb_dns[0].name }}
      policy: bypass

{% for resource in authelia_bypass_rules %}
    - domain: {{ resource.host }}
      policy: bypass
      resources:
        - '{{ resource.regex }}'
{% endfor %}

{% for domain in bunkerweb_dns[1:] %}
    - domain: {{ domain.name }}
      policy: two_factor
{% endfor %}
