{% if bunkerweb_dns | length > 0 %}
MULTISITE=yes
{% endif %}

SERVER_NAME={{ bunkerweb_dns | map(attribute='name') | join(' ') }}
BAD_BEHAVIOR_THRESHOLD={{ bunkerweb_bad_behavior_threshold }}
HTTP_PORT={{ bunkerweb_http_port | default(80) }}
HTTPS_PORT={{ bunkerweb_https_port | default(443) }}

ALLOWED_METHODS={{ bunkerweb_allowed_methods | join('|') }}
BAD_BEHAVIOR_STATUS_CODES={{ bunkerweb_bad_behavior_status_codes | join(' ') }}

AUTO_LETS_ENCRYPT=yes
USE_LETS_ENCRYPT_STAGING=no

DISABLE_DEFAULT_SERVER=yes
SERVE_FILES=no
USE_MODSECURITY=no
USE_CLIENT_CACHE=yes
BLACKLIST_COUNTRY=cn

{% if bunkerweb_use_reverse_proxy %}

USE_REVERSE_PROXY=yes
REVERSE_PROXY_URL_999={{ bunkerweb_rp_request_url }}
REVERSE_PROXY_HOST_999={{ bunkerweb_rp_host }}
REVERSE_PROXY_HEADERS_999=X-Original-URL $scheme://$http_host$request_uri;Content-Length ""

{{ bunkerweb_dns[0].name }}_REVERSE_PROXY_URL=/
{{ bunkerweb_dns[0].name }}_REVERSE_PROXY_HOST={{ bunkerweb_dns[0].host }}
{{ bunkerweb_dns[0].name }}_REVERSE_PROXY_INTERCEPT_ERRORS=no

{% for domain in bunkerweb_dns[1:] %}

{{ domain.name }}_REVERSE_PROXY_URL=/
{{ domain.name }}_REVERSE_PROXY_HOST={{ domain.host }}
{{ domain.name }}_REVERSE_PROXY_AUTH_REQUEST={{ bunkerweb_rp_request_url }}
{{ domain.name }}_REVERSE_PROXY_AUTH_REQUEST_SIGNIN_URL=https://{{ bunkerweb_dns[0].name }}/?rd=$scheme%3A%2F%2F$host$request_uri
{{ domain.name }}_REVERSE_PROXY_AUTH_REQUEST_SET=$user $upstream_http_remote_user;$groups $upstream_http_remote_groups;$name $upstream_http_remote_name;$email $upstream_http_remote_email

{% endfor %}

{% endif %}