---
# https://github.com/geerlingguy/ansible-role-security#role-variables
#
# https://www.digitalocean.com/community/tutorials/iptables-essentials-common-firewall-rules-and-commands
# https://docs.docker.com/network/packet-filtering-firewalls/

security_ssh_port: 22
security_ssh_password_authentication: "no"
security_ssh_permit_root_login: "no"
security_ssh_usedns: "no"
security_ssh_permit_empty_password: "no"
security_ssh_challenge_response_auth: "no"
security_ssh_gss_api_authentication: "no"
security_ssh_x11_forwarding: "no"

security_ssh_allowed_users:
  - "{{ system_user_name }}"

security_sudoers_passwordless:
  - "{{ system_user_name }}"

security_autoupdate_reboot_time: "03:00"

security_autoupdate_mail_to: "{{ system_user_email }}"
security_autoupdate_mail_on_error: true

security_fail2ban_enabled: true

### Firewall

security_firewall_allow_rules:
  - desc: "Allow HTTP"
    proto: "tcp"
    port: "80"

  - desc: "Allow HTTPS"
    proto: "tcp"
    port: "443"

  - desc: "Allow SSH"
    proto: "tcp"
    port: "{{ security_ssh_port }}"

  # https://www.home-assistant.io/integrations/homekit/#firewall
  - desc: "Allow mDNS (for HomeKit)"
    proto: "udp"
    port: "5353"

  # Should not be changed to "{{ wg_host_udp_port }}"
  # https://github.com/wg-easy/wg-easy/pull/87#issuecomment-949541262
  - desc: "Allow WireGuard"
    proto: "udp"
    port: "51820"
