---
- name: "Prepare task variables"
  ansible.builtin.set_fact:
    smb_share_permissions: "0740"
    smb_share_cerdentials_file: "/home/{{ system_user_name }}/.smb"

- name: "Ensure media directory exists"
  ansible.builtin.file:
    path: "{{ storage_smb_share_local_dir }}"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_group }}"
    mode: "{{ smb_share_permissions }}"
    state: "directory"

- name: "Create credentials file"
  ansible.builtin.template:
    src: "smb-credentials.j2"
    dest: "{{ smb_share_cerdentials_file }}"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_group }}"
    mode: "0440"

- name: "Mount SMB share"
  ansible.posix.mount:
    boot: true
    src: "{{ storage_smb_share_address }}"
    path: "{{ storage_smb_share_local_dir }}"
    state: "mounted"
    fstype: "cifs"
    opts: "credentials={{ smb_share_cerdentials_file }},uid={{ system_user_uid }},gid={{ system_user_gid }},file_mode={{ smb_share_permissions }},dir_mode={{ smb_share_permissions }},x-systemd.automount"
