homeassistant: true
frontend: true

mqtt:
  base_topic: zigbee2mqtt
  server: mqtt://{{ home_zigbee2mqtt_broker_address }}
  user: {{ home_mosquitto_user }}
  password: {{ home_mosquitto_password }}

serial:
  port: /dev/ttyACM0