PUID="{{ docker_uid }}"
PGID="{{ docker_gid }}"

UPLOAD_LOCATION={{ immich_upload_dir }}
IMMICH_VERSION={{ media_immich_version }}

DB_HOSTNAME={{ immich_service_id }}-db
DB_PASSWORD={{ immich_password }}
DB_USERNAME={{ immich_user }}
DB_DATABASE_NAME={{ immich_service_id }}

REDIS_HOSTNAME={{ immich_service_id }}-redis
